<html>
	<head>
		<title>Site Bolsa</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/css/uikit.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit-icons.js"></script>
	</head>
	<body>
		
		<header class="uk-text-center uk-margin-top">
			<h1>Investe Bolsa</h1>
			<h5>Descrição da Aplicação</h5>
		</header>

		{% block content %}
		{% endblock %}

		<footer>
			<p class="uk-text-center">Desenvolvido por <a class="uk-text-primary" href="http://factos.ufpi.br/factos">FACTOS</a> - 2017</p>
		</footer>

	<body>
</html>
