{% extends 'site_functions/base.html' %}

{% block content %}

<h1>NOME DA APLICAÇÃO</h1>

<h5>Descrição da Aplicação</h5>
{{teste}}
<form action="{% url 'mostrar_grafico' %}" method="post">
  {% csrf_token %}
{{form.as_p}}
  <label><b>Taxa de Juros</b></label>
 <input type="text" value="SELIC" name="juros"><br>
 <label><b>Tamanho da Carteira</b></label>
 <input type="text" value="10" name="tamanho"><br><br>
 <label><b>Carteira de Mercado</b></label>
 <input type="text" value="IBOVESPA" name="mercado"><br><br>
 <label><b>Método a ser aplicado</b></label>
 <input type="text" value="RELAÇÃO" name="metodo"><br><br>

 <input type="submit" value="Gerar Gráfico">
</form>

{% endblock %}
